{% extends 'base.html' %}
{% block content %}
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
     <div class="user_card">
      <div class="d-flex justify-content-center">
       <div class="brand_logo_container">
        <img src="{{ url_for('static', filename='logo.png') }}" class="brand_logo" alt="Logo">
       </div>
      </div>
      <div class="d-flex justify-content-center first_words">
        Log in to control your spaceship
       </div>
      
      <div class="d-flex justify-content-center form_container">
       <form method="post" action="">
        <div class="input-group mb-3">
         <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
         </div>
         <input type="text" name="username" placeholder="Username" required class="form-control input_user">
        </div>
        <div class="input-group mb-2">
         <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-key"></i></span>
         </div>
         <input type="password" name="password" placeholder="Password" autocomplete="off" required class="form-control input_pass">
        </div>
         <div class="d-flex justify-content-center mt-3 login_container">
         <input type="submit" value="Login" class="btn login_btn">
         </div>
       </form>
      </div>

      <div class="mt-4">
        <div>
         {% with messages = get_flashed_messages() %}
           {% if messages %}
          {% for message in messages %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% endfor %}
           {% endif %}
         {% endwith %}
        </div>
         <div class="d-flex justify-content-center links">
          Don't have an account? <a href="/signup" class="ml-2">Sign Up</a>
         </div>
        </div>
       </div>
      </div>
     </div>
{% endblock %}